@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caladea:400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

@import "_variables";
@import "_titles";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Caladea";
    padding-top: 70px;
}

body > *:not(.footer) {
    padding: 0px 140px;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0px 140px;
    background-color: white;
    height: 135px;
    display: flex;
    align-items: center;
    @extend %miniTitle;
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            margin-left: -235px;
            img {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        ul {
            display: flex;
            text-transform: uppercase;
            font-size: 10px;
            &:first-child {
                li {
                    margin-right: 60px;
                    @extend %miniTitle;
                }
            }
            .nail {
                padding: 30px 0px;
                &:hover {
                    cursor: pointer;
                    color: silver;
                }
            }
            .shop {
                padding: 30px 0px;
                &:hover {
                    cursor: pointer;
                    color: silver;
                }
            }
        }
    }
}

.hero {
    height: 108vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0086/4865/4895/files/Untitled-1_c7130e00-ea87-40e1-a45d-39231d736703_1920x1115_crop_center.jpg?v=1666814954);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    color: white;
    h4 {
        font-family: sans-serif;
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    em {
        font-style: oblique;
        font-family: "Nanum Myeongjo", serif;
    }
    h3 {
        font-size: 44px;
        font-family: "Nanum Myeongjo", serif;
        text-align: center;
        letter-spacing: -1px;
        line-height: 50px;
        margin-bottom: 50px;
    }
    a {
        width: 15%;
        @extend %miniTitle;
        font-size: 9px;
        text-transform: uppercase;
        background-color: transparent;
        border: 1.5px solid;
        border-color: white;
        padding: 22px 0px;
        text-align: center;
        text-decoration: none;
        color: white;
        transition: all 0.3s linear, background 0.3s linear;
        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.under-hero {
    height: 85vh;
    display: flex;
    width: 100%;
    margin-bottom: 80px;
    .under-hero__content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg;
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h4 {
                font-size: 10px;
                @extend %miniTitle;
                margin-bottom: 35px;
            }
            h3 {
                font-size: 30px;
                width: 120%;
                font-family: "Nanum Myeongjo";
                text-align: center;
                color: darkslategray;
                margin-bottom: 75px;
                em {
                    font-style: oblique;
                    font-family: "Nanum Myeongjo", serif;
                }
            }
            a {
                width: 60%;
                font-size: 8px;
                font-weight: 700;
                font-family: "Montserrat";
                letter-spacing: 1.2px;
                text-transform: uppercase;
                background-color: transparent;
                border: 1.5px solid;
                border-color: black;
                padding: 20px 0px;
                text-align: center;
                text-decoration: none;
                color: black;
                transition: all 0.3s linear;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    img,
    div {
        width: 50%;
    }
}

.blog {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 60vh);
    margin-bottom: 80px;
    .blog__post {
        display: grid;
        background-color: $bg;
        grid-template-columns: repeat(2, 1fr);
        &:nth-child(even) {
            img {
                order: 1;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
        .post__content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .post__date {
            font-size: 12px;
            letter-spacing: 1px;
            font-family: "Nanum Myeongjo";
            margin-bottom: 45px;
        }
        h4 {
            font-size: 30px;
            font-family: "Nanum Myeongjo";
            color: dimgray;
            margin-bottom: 65px;
        }
        a {
            @extend %miniTitle;
            font-size: 10px;
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 410px);
    .gallery__poster {
        cursor: pointer;
        height: 100%;
        img {
            max-width: 100%;
            height: 100%;
            transition: opacity 0.3s linear;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.com {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    .follow {
        font-family: "Nanum Myeongjo", serif;
        font-size: 40px;
        em {
            opacity: 0.3;
        }
    }
}

.footer {
    margin-top: 110px;
    background-color: $bg;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0px;
    .footer__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Montserrat";
        .column__title {
            text-transform: uppercase;
            font-size: 9px;
            font-weight: 700;
            margin-bottom: 50px;
            letter-spacing: 1.5px;
            opacity: 0.4;
        }
        ul {
            text-align: center;
            li {
                text-transform: uppercase;
                font-size: 9px;
                font-weight: 500;
                letter-spacing: 2px;
                margin-bottom: 15px;
            }
        }
        &:nth-child(2) {
            border-right: 1px solid black;
            border-left: 1px solid black;
        }
    }
}
